<div class="container" style="margin-left:16%">

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="profileForm">
        <div class="row form-group">
          <label class="col-6">
            Name:
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="profileForm.get('name') && profileForm.get('name').errors" class="text-danger">Name Required</small>
          </label>

          <label class="col-6">
            Mobile:
            <input type="number" class="form-control" formControlName="mobile">
          </label>
          <small *ngIf="profileForm.get('mobile').errors" class="text-danger">Mobile should be of 10 digits</small>
        </div>
        <div class="row form-group">
          <label class="col-6">
            Address:
            <input type="text" class="form-control" formControlName="address">
          </label>
          <label class="col-6">
            Email:
            <input type="text" class="form-control" formControlName="email">
          </label>
          <div *ngIf="! profileForm.get('email')">
            <small *ngIf="profileForm.get('email').errors.required" class="text-danger">Email is required</small>
            <small *ngIf="profileForm.get('email').errors.email" class="text-danger">Invalid Email</small>
          </div>
          <input class="form-control" type="file" ng2FileSelect [uploader]="FilesUploader" multiple (change)="myFiles()" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); onAddCustomers()">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-outline-primary ml-3" (click)="open(content)">Add Customers</button>
  <button routerLink="/productSale" class="btn btn-outline-primary mr-3" style="float: right">Product Sale</button>
  <div class="container">
    <hr>
    <div class="card">
      <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
          <tr>
            <th scope="col">Name</th>
            <th scope="col" width="120">Mobile</th>
            <th scope="col" width="120">Balance</th>
            <th scope="col" width="200" class="text-center">Action</th>
            <th scope="col" width="120">Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let customer of totalCustomers;  let indx=index">
            <tr>
              <td>
                <figure class="media">
                  <div class="img-wrap"><img src="http://localhost:4000/Images/{{customer.img_url}}" class="img-thumbnail img-sm"></div>
                  <figcaption class="media-body">
                    <h6 class="title text-truncate">{{customer.name}}</h6>
                    <dl class="param param-inline small">
                      <dt>Add: </dt>
                      <dd>{{customer.address}}</dd>
                    </dl>
                    <dl class="param param-inline small">
                      <dt>Email: </dt>
                      <dd>{{customer.email}}</dd>
                    </dl>
                  </figcaption>
                </figure>
              </td>
              <td>
                {{customer.mo_num}}
              </td>
              <td>
                <div class="price-wrap">
                  <var class="price">Inr {{customer.balance?customer.balance:0 }}</var>
                  <!-- <small class="text-muted">(USD5 each)</small> -->
                </div> <!-- price-wrap .// -->
              </td>
              <td class="text-center">
                <a title="add sale for this user" [routerLink]="['/productSale']" [queryParams]="customer" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fas fa-plus"></i></a>
                <a class="btn btn-outline-danger ml-1 text-danger" (click)="notifieCustomer(customer)"> Notifie</a>

              </td>
              <td>
                <a title="Delete Customer" class="btn btn-outline-danger" data-toggle="tooltip" (click)="deleteCustomer(customer.email)"> <i class="fas fa-trash-alt" style="color: rgb(228, 58, 58);"></i></a>
                <a title="Edit Customer" class="btn btn-outline-primary ml-1" data-toggle="tooltip"> <i class="fa fa-edit" style="color: rgb(7, 112, 197);"></i></a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div> <!-- card.// -->

  </div>
  <!--container end.//-->

  <br><br>
  <!-- <article class="bg-secondary mb-3">
    <div class="card-body text-center">
      <h3 class="text-white mt-3">Bootstrap 4 UI KIT</h3>
      <p class="h5 text-white">Components and templates <br> for Ecommerce, marketplace, booking websites
        and product landing pages</p> <br>
      <p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com
          <i class="fa fa-window-restore "></i></a></p>
    </div>
    <br><br>
  </article> -->
